.tecnologias{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(74,7,140);
    background: linear-gradient(180deg, rgba(74,7,140,1) 44%, rgba(34,1,38,1) 100%);
    background-size: cover;
    opacity: 0.650;
    width: 100%;
}
  
  .tec-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

  
  .tec-titulo h3{
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    background: #F20544;
    background: radial-gradient(circle farthest-corner at center center, #F20544 0%, #F2CB05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    margin-top: 15px;
}
  
  .card {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width:10%;
    height: 10%;
    border: none;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--roxo-escuro);
    box-shadow: 0px 6px 25px 2px rgba(128, 0, 0, 1);
}
  
  .card img {
    width: 100%;
    height: 100%;
  
}

@media (max-width: 950px){
    .tecnologias{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
      .tec-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card{
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 300px){
    .card {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 50%;
        height: 50%;
        border: none;
        border-radius: 15px;
        padding: 30px;
        background-color: var(--roxo-escuro);
        box-shadow: 0px 6px 25px 2px rgba(128, 0, 0, 1);
    }
    
    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}